{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.<br>
  <br>
  На память потомкам и "привет" моему код-ревьюеру:<br> 
  - Спринт 4 - это вообще не просто;<br>
  - Pytest - изматывает, особенно с "ошибками", которые в Спринте 3 не считались ошибками;<br>
  - Отдельное спасибо код-ревьюеру за подробные комментарии к предыдущим спринтам.
</p>
{% endblock %}